.contact-wrap {
    display: flex;
    flex-direction: row;
}

.contact, .contact-info {
    width: 50%;
    padding: 0 15px;
}

.form-contact {
    font-size: 1.2rem;
    color: var(--text-color);
}

.form-contact button {
    cursor: pointer;
    background-color: #0d6efd;
    color: #fff;
    width: 30%;
    border: none;
    border-radius: 5px;
    padding: 7px 0;
    transition: 0.3s ease;
}

.form-contact button:hover {
    background-color: #0a58ca;
}

.group-contact {
    margin-bottom: 20px;    
}

.group-contact span {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(238, 244, 246);
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #bbb;
}

.contact-info p {
    display: flex;          
    align-items: center;   
    margin-bottom: 10px;    
}

.contact-info i {
    font-size: 16px; 
    width: 25px;   
    color: #0d6efd;         
}

.contact-map {
    margin-top: 16px;
}

.contact-map iframe{
    width: 100%;
}